<%-include('./parts/head')%>
<form action ="/delete" METHOD = "post">
    <input type= "text" id="Id" placeholder = "Enter Id of the Item to which You Want To Delete." name = "Id">
    </input><br><br>
    <input type="submit" value="DELETE POST">
</form>
<%-include('./parts/tail')%>
