<%-include('./parts/head')%>
<form action="/post" METHOD ="post">
    <input type="text" id="Item_Name" placeholder="Item_Name" name="Item_Name"><br><br>
    <textarea id ="body" placeholder="Quantity" name="Quantity"> </textarea><br><br>
    <textarea id ="body" placeholder="Total Cost" name="Price"> </textarea><br><br>
    <input type="submit" value="Add Item">
</form>
<%-include('./parts/tail')%>