<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<h1><%= Id %></h1>
<p> <%= result %> </p>
<%-include('./parts/tail')%>